:root {
    /* --main-bg: #030912; */
    --main-bg: #fff;
    --div-bg: fefefe;
    --small-font: 14px;
    --mid-font: 16px;
    --large-font: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    input {
        color: black;
    }

    transition: 0.7s ease;

    background-color: var(--main-bg);
    /* height: 100vh; */
    display: flex;
    flex-direction: column;

    header {
        padding-left: 2%;
        display: grid;
        grid-template-columns: 3% 3.8% 64% 8% 14% 5%;
        column-gap: 2px;
        align-items: center;
    }

    #title {
        font-size: var(--large-font);
        font-weight: 600;
    }

    #title2 {
        font-size: var(--large-font);
        font-weight: 600;
        color: #6145db;
    }

    #theme_button {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: start;
        border: 1px solid black;
        border-radius: 40px;
        background-image: url("../assets/icons/day.jpg");
        background-position: center;
        background-size: cover;
        box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.6), -2px -2px 10px rgba(0, 0, 0, 0.6);
        transition: 0.7s ease;
    }

    #theme_button:active {
        transform: translateX(1px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    }

    #theme_button img {
        margin: 5%;
        margin-left: 10%;
    }

    .main {
        display: grid;
        grid-template-columns: 15% 85%;
        column-gap: 20px;
        width: 100%;
    }

    .left-pannel {
        display: grid;
        grid-template-rows: 63% 37%;
    }

    .left-pannel .top {
        display: flex;
        flex-direction: column;
        border: 2px solid rgb(227, 227, 227);
        background-color: var(--div-bg);
        height: 455px;
        padding: 10px;
        border-radius: 0 10px 0 0;
    }

    .left-pannel .top .container {
        width: 90%;
        display: flex;
        align-items: center;
        padding: 8%;
        margin: 2%;
        column-gap: 5%;
        background-color: var(--div-bg);
        border-radius: 10px;
        border: 2px solid rgb(227, 227, 227);
    }

    .left-pannel .top .container button {
        color: black;
        border: none;
        background-color: var(--div-bg);
        font-size: var(--mid-font);
    }

    .left-pannel .bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.301);
        background-color: var(--div-bg);
        height: 107.2%;
        border: 2px solid rgb(227, 227, 227);
    }

    .left-pannel .bottom .div {
        margin: 5%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    }

    .left-pannel .bottom .div label {
        color: black;
    }

    .right-pannel {
        width: 98%;
        display: grid;
        grid-template-rows: 6% 55% 35%;
        row-gap: 10px;
        height: 720px;
    }

    .search-bar {
        position: relative;
        display: flex;
        flex-direction: row;
        column-gap: 1%;
    }

    .right-pannel .search-bar img {
        position: absolute;
        top: 13px;
        left: 15px;
        width: 20px;
    }

    .search-box {
        padding-left: 3.5%;
        width: 88%;
        font-size: var(--mid-font);
        border: 1px solid grey;
        border-radius: 10px;
        background-color: var(--div-bg);
        border: 2px solid rgb(227, 227, 227);
    }

    #search-button {
        width: 120px;
        border-radius: 10px;
        border: 0;
        background-color: #7d64fa;
        color: white;
    }

    .right-pannel .middle {
        width: 96%;
        display: grid;
        grid-template-columns: 35% 64%;
        column-gap: 10px;
    }

    .right-pannel .middle .info {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    .info {
        padding: 20px;
        background-color: var(--div-bg);
        border-radius: 10px;
        width: 100%;
        border: 2px solid rgb(227, 227, 227);
    }

    .top-head {
        display: flex;
        column-gap: 2%;
        position: relative;
    }

    .top-head img {
        width: 50px;
    }

    .top-head button {
        margin-left: 40%;
        background-color: var(--div-bg);
        border: none;
    }

    #favourite img {
        width: 25px;
    }

    #coin-title {
        color: black;
        font-size: var(--large-font);
    }

    #coin-symbol {
        padding: 0.5%;
        height: 44%;
        color: black;
        font-size: var(--mid-font);
        background-color: rgb(223, 223, 223);
    }

    #rank {
        position: absolute;
        color: black;
        font-size: var(--small-font);
        top: 25px;
        left: 56px;
    }

    #price {
        font-size: 35px;
        color: black;
    }

    #price-indicator {
        font-size: var(--small-font);
        color: green;
        font-weight: bold;
    }

    .kpis {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 33% 33% 33%;
    }

    .info-kpi {
        margin: 2%;
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 5%;
        border-radius: 10px;
        background-color: var(--div-bg);
        border: 2px solid rgb(227, 227, 227);
        padding: 10px;
    }

    .kpi {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .kpi label {
        color: black;
    }

    .info-kpi img {
        width: 30px;
        height: 30px;
    }

    .top-list p {
        border-radius: 10px 10px 0 0;
        padding: 1%;
        width: 90%;
        background-color: var(--div-bg);
        border: 2px solid rgb(227, 227, 227);
        color: black;
    }

    table {
        width: 90%;
        border-radius: 0 0 10px 10px;
        background-color: var(--div-bg);
        color: black;
        border: none;
        border: 2px solid rgb(227, 227, 227);
    }

    td {
        width: max-content;
        padding: 1%;
    }

    th,
    tr,
    td {
        border: none;
        border-bottom: 1px solid rgb(227, 227, 227);
    }

    #live {
        color: #53da86;
    }

    .graph img {
        border-radius: 10px;
    }

    #graph,
    #graph2 {
        border: 2px solid rgb(227, 227, 227);
    }

    .top-list {
        max-height: 400px;
        overflow-y: auto;
    }

    .top-list p, .top-list table thead {
        position: sticky;
        top: 0;
        background-color: #f8f9fa;  
        z-index: 10;
    }

    table {
        flex-grow: 1;
        height: 100%;
    }

    .data {
        display: grid;
        grid-template-columns: 70% 30%;
        border-bottom: 1px solid rgb(159, 159, 159, 0.6);
    }
}

body.dark {
    transition: 0.7s ease;
    background-color: #040711;

    #theme_button {
        justify-content: end;
        transition: 0.7s ease;
        background-image: url("../assets/icons/night_background.jpg");
    }

    #title,
    #last_update {
        color: white;
    }

    .left-pannel .top {
        border: none;
        background-color: #0a0f19;
    }

    .left-pannel .top .container {
        background-color: var(--div-bg);
        border-radius: 10px;
        border: none;
    }

    .left-pannel .top .container button {
        color: white;
        border: none;
        background-color: #0a0f19;
    }

    .left-pannel .bottom {
        background-color: #0a0f19;
        border: none;
    }

    .left-pannel .bottom .div label {
        color: white;
    }

    .search-box {
        background-color: #0a0f19;
        border: none;
    }

    #search-button {
        background-color: #7d64fa;
        color: white;
    }

    .info {
        background-color: #0a0f19;
        border: none;
    }

    .top-head button {
        background-color: #0a0f19;
    }

    #coin-title,
    #rank,
    #price {
        color: white;
    }

    #coin-symbol {
        color: white;
        background-color: #222731;
    }

    .info-kpi {
        background-color: #121824;
        border: none;
    }

    .kpi label {
        color: white;
    }

    .top-list p {
        background-color: #0a0f19;
        border: none;
        color: white;
    }

    table {
        background-color: #0a0f19;
        color: white;
        border: none;
    }

    th,
    tr,
    td {
        border-bottom: 1px solid rgb(227, 227, 227, 0.5);
    }

    #graph,
    #graph2 {
        border: none;
    }

    input {
        color: white;
    }

    .top-list p, .top-list table thead {
        background-color: #0a0f19;
    }
}